body {
    font-family: "Trebuchet MS", arial, sans-serif;
}

p {
    font-size: small;
}
li {
    font-size: small;
}

h1 {
    font-size: 120%;
}

.footer {
    text-align: center;
    background-color: #e2ebff;
    padding: 2px;
    font-size: smaller;
}
